<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Libros</title>
</head>
<body>
    <h1>Libros:</h1>
    <ul>
        {% for libro in libro_list %}
            <li><h2><a href="{% url 'detalleLibros' pk=libro.pk %}">  {{ libro.titulo }}</a></h2></li>
            <a href="{% url 'deleteLibros' pk=libro.pk%}"><button type="submit">Eliminar</button></a>
            {% empty %}
            <h4>No hay libros registrados</h4>
        {% endfor %}
    </ul>
    <h3>Añadir nuevo libro:</h3>
    <a href="{% url 'createLibros' %}"><button type="submit">Crear</button></a>
</body>
</html>