{% extends "appBiblioteca/base.html" %}
{% block title %}Resultados de búsqueda{% endblock title %}
{% block content %}
    <div>
        <a href="{% url 'listadoLibros' %}"><button class="btn">Todos los Libros</button></a>
        <a href="{% url 'librosDisponibles' %}"><button class="btn">Libros Disponibles</button></a>
        <a href="{% url 'misLibros' %}"><button class="btn">Mis libros</button></a>
        <a href="{% url 'createLibros' %}"><button type="submit" class="btn">Añadir nuevo libro</button></a>
        <a href="{% url 'librosPrestados' %}"><button type="submit" class="btn">Libros Prestados</button></a>
    </div>
    <div>
        <p>Resultados de búsqueda: </p>
        {% for libro in libros %}
            <h2><a href="{% url 'detalleLibros' pk=libro.pk %}">  {{ libro.titulo }}</a></h2>
        {% endfor %}
    </div>    
{% endblock content %}

