{%extends "appBiblioteca/base.html"%}
{%block title%}Mis libros{%endblock title%}
{%block content%}
    <a href="{% url 'listadoLibros' %}"><button class="btn">Todos los Libros</button></a>
    <a href="{% url 'librosDisponibles' %}"><button class="btn">Libros Disponibles</button></a>
    <a href="{% url 'misLibros' %}"><button class="btn">Mis libros</button></a>
    <a href="{% url 'createLibros' %}"><button type="submit" class="btn">Añadir nuevo libro</button></a>
    <a href="{% url 'librosPrestados' %}"><button type="submit" class="btn">Libros Prestados</button></a>
<ul>
    <h1>Libros Prestados:</h2>
    {% for libro in Libros_Prestados %}
        <li><h2> {{ libro.libro_prestado }}</h2></li>
        {% empty %}
        <h4>No hay libros registrados</h4>
    {% endfor %}
    <h1>Libros Devueltos:</h2>
    {% for libro in Libros_Devueltos %}
        <li><h2> {{ libro.libro_prestado }} </h2></li>
        {% empty %}
        <h4>No hay libros registrados</h4>
    {% endfor %}
</ul>
{%endblock content%}